#title {
  background-color: #ff4c68;
  color: #fff;
}
.image {
  transform: rotate(25deg);
  width: 17%;
  position: absolute;
  right: 30%;
}
#features {
  padding: 7% 12%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h1 {
  font-family: "Montserrat";
  font-size: 4rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}
body {
  font-family: "Montserrat";
  font-size: 1rem;
}
p {
  color: #afafaf;
  font-family: "Montserrat";
}
h2 {
  font-size: 3rem;
  font-family: "Montserrat";
  line-height: 4rem;
}
h3 {
  font-family: "Montserrat";
}
.navbar {
  padding: 0 0 2.5rem;
}
.navbar-brand {
  font-family: "ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
  font-family: "Montserrat-light";
}
.download-button {
  margin-top: 1em;
}

/* .h1 {
  display: flex;
  flex-direction: row;
} */
.icon {
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
}
/* testimonials */
#testimonials {
  padding: 4% 19%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousal-item {
  padding: 4% 19%;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 8%;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  text-align: center;
  padding: 5% 15%;
  background-color: #ff4c68;
  color: #fff;
}
.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}
p {
  margin-top: 1em;
}
.social-icon {
  margin: 20px 10px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .image {
    position: static;
    margin-top: 1em;
    transform: rotate(0);
  }
}
